
// @import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500'
// @import 'https://fonts.googleapis.com/css?family=Varela+Round'
@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400'

$fa-font-path: "../fonts/font-awesome"
$ionicons-font-path: "../fonts/ionicons"

$green: #12B72D;
$white: #FFF;
$grey-lighter: #FCFAFA;
$grey-light: #EDF1F2;
$grey: #C8D3D5;
$light-blue: #A4B8C4;
$black: #6E8387;

$sidebar-width: 250px;